button:focus{
    outline: none;
}
.header{
    background: #999;
}
nav a{
    color: #fff;
    font-size: 30px;
}
nav .collapse a{
    font-size: 20px;
    margin: 10px;
}
.active {
    color: #f00;
}
.navbar-toggler{
    background-color: #fff;
}