<div class="row">
  <div class="col-md-4" *ngFor='let x of prod; index as i'>
    <div class="product">
      <div class="card text-left">
          <img class="card-img-top" [src]="x.img" alt="">
          <div class="card-body">
            <h4 class="card-title">{{x.title | uppercase}}</h4>
            <p class="card-text">{{x.price | currency}}</p>
            <button [disabled]='isUser' class="btn" (click)= "addtocart(i)" *ngIf= "add !== i">Add To Cart</button>
            <div *ngIf = 'add === i'> 
              <input type="number" class="form-control my-3" placeholder="Amount" #amount>
              <button class="btn" (click) = 'buy(amount.value)'>Buy</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
